<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		
		<bindings>
			
			<webHttpBinding>
				<binding name="webHttpBinding_IDataService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" transferMode="Buffered" useDefaultWebProxy="true">
					
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
				</binding>
			</webHttpBinding>
			
		</bindings>
		<behaviors>
			
			<serviceBehaviors>
				<behavior name="DataServiceBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>				
			</serviceBehaviors>
			
			<endpointBehaviors>
				<behavior name="">
				</behavior>
				<behavior name="web">
					<webHttp automaticFormatSelectionEnabled="true" />
				</behavior>
			</endpointBehaviors>
			
		</behaviors>
		<services>
			
			<service behaviorConfiguration="DataServiceBehavior" name="WCFBehaviorsConsoleApp.Services.Concrete.DataService">
				<endpoint address="" binding="basicHttpBinding" contract="WCFBehaviorsConsoleApp.Services.Abstract.IDataService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:1234/DataService" />
					</baseAddresses>
				</host>
			</service>

			
		</services>
	</system.serviceModel>
</configuration>